body{

background-image: url("../img/background.jpg");
height: 100%;
width: 100%;
color: white;
padding: 0;
margin: 0;


}
.content{

  background-color: rgba(10, 33, 0, 0.8);
  height: 100%;
  width: 100%;
  float: left;

}
.form{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}
